:root {
  --main-bg-color: #222222;
  --main-box-color: #111111;
  --sub-box-color: #000000;
  --blue-color: #1c90ff;
  --list-color: #5c5c5c;
}

.header {
  background: url("./images/cover.png") no-repeat;
  background-position: center -350px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.header .wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.header .sub-tit {
  font-size: 15px;
}

.header .main-tit {
  font-size: 25px;
  letter-spacing: 0.5em;
  font-weight: 700;
  margin: 10px 0 15px;
  position: relative;
  display: inline-block;
  z-index: 10;
}

.header .main-tit::after {
  content: "";
  display: block;
  width: 300px;
  height: 5px;
  background-color: var(--blue-color);
  position: absolute;
  top: 0.5em;
  left: -1em;
  z-index: -10;
  opacity: 0.6;
  border-radius: 3px;
}

.main {
  background-color: var(--main-bg-color);
  padding: 50px 0 100px;
}

.main .wrapper {
  width: 800px;
  margin: 0 auto;
}
.wrapper .timeline {
  padding-top: 80px;
  overflow: hidden;
}

.timeline .timeline-item {
  width: 50%;
  box-sizing: border-box;
  padding: 0 25px;
  position: relative;
}

.timeline .timeline-item:nth-child(even) {
  margin-left: auto;
}

.timeline-item .year {
  box-sizing: border-box;
  padding: 20px 20px 0;
  width: 350px;
  position: relative;
  z-index: 10;
  background-color: var(--main-box-color);
  border-radius: 10px;
}

.timeline-item .year::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  right: -5px;
  transform: rotate(45deg);
  z-index: -10;
  background-color: var(--main-box-color);
}

.timeline-item::before {
  content: "";
  width: 5px;
  height: 130%;
  display: block;
  position: absolute;
  background-color: var(--blue-color);
  top: 50%;
  right: 0;
  z-index: 10;
}

.timeline-item:nth-child(even)::before {
  left: -5px;
}

.year.right::before {
  left: -5px;
}

.year::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 5px solid var(--blue-color);
  background-color: var(--main-box-color);
  border-radius: 50%;
  position: absolute;
  top: 47%;
  right: -32px;
  z-index: 100;
}

.year.right::after {
  left: -35px;
}

.timeline-item h3 {
  font-family: "Montserrat";
  color: var(--blue-color);
  font-size: 50px;
  margin-bottom: 5px;
}

.timeline-item p {
  padding-bottom: 10px;
  color: white;
}

.year {
  position: relative;
}

.year img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
}

.year.right img {
  right: 20px;
}

.year:not(.right) .year-header {
  text-align: right;
}

.year-desc {
  background-color: var(--sub-box-color);
  color: var(--list-color);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  margin-top: 10px;
}

.year-desc li {
  font-size: 12px;
  position: relative;
  padding-left: 1.5em;
  line-height: 1.5;
}

.year-desc li + li {
  margin-top: 0.3em;
}

.year-desc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--list-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}
